# Ignore data files
data/bounding_box/
data/camera/
data/camera_calibration/
data/lidar/

# Optional: if you want to include some scripts but ignore large subfolders
# !data/**/*.py

# Ignore object development kit binaries
data/object development kit/devkit_object/cpp/*.o
data/object development kit/devkit_object/cpp/*.exe

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/

# VS Code or other IDE settings
.vscode/
.idea/

# Environment files
.env
*.env
*.venv
venv/
.reinforcement_learning/

# OS files
.DS_Store
Thumbs.db
